.service-privacy {
  display: grid;
  grid-template-columns: 432px auto;
  grid-template-rows: 300px;
  background-color: #0195ff;
}
.service-privacy img {
  height: 100%;
  margin-right: 10px;
  justify-self: center;
}
.service-text-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-text-side img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
@media (max-width: 860px) {
  .service-privacy {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 300px;
  }
  .service-privacy img {
    width: 100%;
    grid-row: 2/3;
  }
  .service-text-side img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
}
