.refurbished-container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(1, 350px);
  justify-content: center;
  justify-items: center;
  text-transform: uppercase;
}
@media (max-width: 860px) {
  .refurbished-container {
    grid-template-columns: repeat(1, 300px);
  }
}
