/* HEADER SECTION */
.header-section {
  background: url(../../../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 616px;
}
.header-title {
  font-size: 60px;
}
.header-description {
  font-size: 23px;
  margin: 50px 0;
  color: rgb(226 219 219);
}
/* HEADER-MAIN SECTION */
.header-main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
}
