.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Global Css */
.phone-container {
  margin: 0 35px;
}
.phone-btn {
  color: white;
  background-image: linear-gradient(to right, #007cff, #aacbff);
  font-size: 20px;
  border-radius: 4px;
  padding: 10px 20px;
  border: 2px solid #0155b7;
  transition: 1s ease-in-out;
  outline: none;
  box-shadow: none;
}
.phone-btn:hover {
  background-image: linear-gradient(to right, #aacbff, #007cff);
  color: black;
}
.phone-text {
  font-size: 50px;
  text-align: center;
  text-shadow: 3px 3px #aacbff;
  color: #007cff;
}
.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: minmax(440px, 440px);
}
.grid-cart {
  padding: 16px;
  border-radius: 5px;
  border: 1px solid #0155b7;
  background-color: white;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 10px 8px 10px lightgrey;
}
.grid-cart:hover {
  transform: scale(1.14);
  box-shadow: none;
}
.grid-cart img {
  width: 100%;
  height: 200px;
}
.grid-cart p {
  height: 78px;
  margin-bottom: 5px;
  overflow: hidden;
}
@media (max-width: 860px) {
  .grid-container {
    grid-gap: 30px;
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: minmax(440px, 440px);
  }
}
